{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="HomePage">
        {% include 'Components/categories/categories.html.twig' with {'categories':categories} %}

        <div class="videos">
            {% for video in videos %}
                {% include 'Components/video/video.html.twig' with {'video':video, 'modification':false} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}