{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul>
            {% for video in videos %}
                {% include 'Components/video/video.html.twig' with {'video':video} %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}