<ul class="nav justify-content-end">


    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item">
            <p class="nav-link">{{ app.user.username }}</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('register') }}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('login') }}">Login</a>
        </li>
    {% endif %}
</ul>